body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    background-image: url('images/top-banner.png');
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left;
}

.half-width{
    width: 40%;
    float: left;
    margin: 20px 5%;
    box-sizing: border-box;
}

.half-width img{
    width: 100%;
}

h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;
}

h2{
    font-size: 40px;
}

p{
    color: dimgray;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}

.dream{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
}

.experiance{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
    overflow: hidden;
}


.single-exp{
    height: 300px;
    box-shadow: 10px 10px 40px gray;
    border-left: 7px solid;
}

#full-stack{    
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

#baby{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer{
    text-align: center;
}